//*****
//* Base variables
//********

$main-font-size: 16px; 

//***********
// Colors
//******

// universal
$color-black: #000;
$color-white: #fff;

// Grey scale
$color-grey-black: #212121;
$color-grey: #6C6E71;
$color-grey-75: #919295;
$color-grey-50: #B5B6B8;
$color-grey-25: #DADBDB;
$color-grey-active: #4B4D4F;
$color-grey-border: #D9D9D9;

// RRSS
$color-facebook: #3B5998;
$color-twitter: #3ACDFF;
$color-linkedin: #0077B5;
$color-youtube: #CC181E;
$color-instagram: #F00075;
$color-google: #4D8CF5;

//***********
// Fonts
//******
$font-national2Condensed:'National 2 Condensed';
$font-14:  0.875rem;
$font-16:  1rem;