@use "../abstracts/index"as *;


/** CSS Typography **/
/** 
* heading typography
* [description]
 * Heading 1: 32px
 * Heading 2: 28px
 * Heading 3: 24px
 * Heading 4: 20px
 * Heading 5: 18px
 * Heading 6: 16px
**/

/* Text Styles  */





p {
  color: var(--gray-scale-dark);
  line-height: 120%;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}


small {
  font-size: 0.75em;
}


a {
  color: var(--main-colors-rojo);
  text-decoration: underline;

  &:hover {
    color: var(--reds-rojo-7);
    text-decoration: underline;
  }
}

a:hover {
  color: var(--main-colors-rojo);
  text-decoration: underline;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* Estilos de fuente */
/* Estilos de fuente */


.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
  /* Normal */
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

//***********
// Fonts
//******

.font-national2condensed {
  font-family: $font-national2Condensed;
}

.font-national2narrow {
  font-family: $font-national2narrow;
}


$font-sizes: (14: 0.875rem, // 14px
  16: 1rem, // 16px
  18: 1.125rem, // 18px
  20: 1.25rem, // 20px
  24: 1.5rem, // 24px
  28: 1.75rem, // 28px
  32: 2rem, // 32px
  36: 2.25rem, // 36px
  40: 2.5rem, // 40px
  44: 2.75rem, // 44px
  48: 3rem // 48px
);

@for $i from 14 through 48 {
  @if map-has-key($font-sizes, $i) {
    .font-#{$i} {
      font-size: map-get($font-sizes, $i);
    }
  }
}

// Variables
$line-height-compact: 130%;
$line-height-expanded: 150%;

// Mixins
@mixin font-settings($size, $weight, $font-family, $line-height) {
  font-size: $size;
  font-weight: $weight;
  font-family: $font-family;
  line-height: $line-height;
}

// Pantallas K Styles
.pantallas-k {

  // Headings
  .mp-h1,
  h1 {
    @include font-settings(4.5rem, bold, $font-national2Condensed, $line-height-compact); // 72px
  }

  .mp-h2,
  h2 {
    @include font-settings(4rem, bold, $font-national2Condensed, $line-height-compact); // 64px
  }

  .mp-h3,
  h3 {
    @include font-settings(3.5rem, medium, $font-national2Condensed, $line-height-compact); // 56px
  }

  .mp-h4,
  h4 {
    @include font-settings(3rem, medium, $font-national2Condensed, $line-height-compact); // 48px
  }

  .mp-h5,
  h5 {
    @include font-settings(2.5rem, medium, $font-national2Condensed, $line-height-compact); // 40px
  }

  .mp-h6,
  h6 {
    @include font-settings(2rem, medium, $font-national2Condensed, $line-height-compact); // 32px
  }

  // Titles
  .title-xl {
    @include font-settings(4.5rem, normal, $font-national2Condensed, $line-height-compact); // 72px
  }

  .title-lg {
    @include font-settings(4rem, normal, $font-national2Condensed, $line-height-compact); // 64px
  }

  .title-md {
    @include font-settings(3.5rem, normal, $font-national2Condensed, $line-height-compact); // 56px
  }

  .title-sm {
    @include font-settings(3rem, normal, $font-national2Condensed, $line-height-compact); // 48px
  }

  .title-xs {
    @include font-settings(2.5rem, normal, $font-national2Condensed, $line-height-compact); // 40px
  }

  .title-xxs {
    @include font-settings(2rem, normal, $font-national2Condensed, $line-height-compact); // 32px
  }

  // Action
  .action-xl {
    @include font-settings(3rem, normal, $font-national2Condensed, $line-height-compact); // 48px
  }

  .action-lg {
    @include font-settings(2.5rem, normal, $font-national2Condensed, $line-height-compact); // 40px
  }

  .action-md {
    @include font-settings(2rem, normal, $font-national2Condensed, $line-height-compact); // 32px
  }

  .action-sm {
    @include font-settings(1.75rem, normal, $font-national2Condensed, $line-height-compact); // 28px
  }

  .action-xs {
    @include font-settings(1.5rem, normal, $font-national2Condensed, $line-height-compact); // 24px
  }

  .action-xxs {
    @include font-settings(1.25rem, normal, $font-national2Condensed, $line-height-compact); // 20px
  }

  // Body
  .body-xl {
    @include font-settings(3rem, normal, $font-national2narrow, $line-height-expanded); // 48px
  }

  .body-lg {
    @include font-settings(2.5rem, normal, $font-national2narrow, $line-height-expanded); // 40px
  }

  .body-md {
    @include font-settings(2rem, normal, $font-national2narrow, $line-height-expanded); // 32px
  }

  .body-sm {
    @include font-settings(1.75rem, normal, $font-national2narrow, $line-height-expanded); // 28px
  }

  .body-xs {
    @include font-settings(1.5rem, normal, $font-national2narrow, $line-height-expanded); // 24px
  }

  .body-xxs {
    @include font-settings(1.25rem, normal, $font-national2narrow, $line-height-expanded); // 20px
  }


}

// Pantallas POS Styles
.pos {

  // Headings
  .mp-h1,
  h1 {
    @include font-settings(2.5rem, bold, $font-national2Condensed, $line-height-compact); // 40px
  }

  .mp-h2,
  h2 {
    @include font-settings(2.25rem, bold, $font-national2Condensed, $line-height-compact); // 36px
  }

  .mp-h3,
  h3 {
    @include font-settings(2rem, medium, $font-national2Condensed, $line-height-compact); // 32px
  }

  .mp-h4,
  h4 {
    @include font-settings(1.75rem, medium, $font-national2Condensed, $line-height-compact); // 28px
  }

  .mp-h5,
  h5 {
    @include font-settings(1.5rem, medium, $font-national2Condensed, $line-height-compact); // 24px
  }

  .mp-h6,
  h6 {
    @include font-settings(1.25rem, medium, $font-national2Condensed, $line-height-compact); // 20px
  }

  // Titles
  .title-xl {
    @include font-settings(2.5rem, normal, $font-national2Condensed, $line-height-compact); // 40px
  }

  .title-lg {
    @include font-settings(2.25rem, normal, $font-national2Condensed, $line-height-compact); // 36px
  }

  .title-md {
    @include font-settings(2rem, normal, $font-national2Condensed, $line-height-compact); // 32px
  }

  .title-sm {
    @include font-settings(1.75rem, normal, $font-national2Condensed, $line-height-compact); // 28px
  }

  .title-xs {
    @include font-settings(1.5rem, normal, $font-national2Condensed, $line-height-compact); // 24px
  }

  .title-xxs {
    @include font-settings(1.25rem, normal, $font-national2Condensed, $line-height-compact); // 20px
  }

  // Action
  .action-xl {
    @include font-settings(1.75rem, normal, $font-national2Condensed, $line-height-compact); // 28px
  }

  .action-lg {
    @include font-settings(1.5rem, normal, $font-national2Condensed, $line-height-compact); // 24px
  }

  .action-md {
    @include font-settings(1.25rem, normal, $font-national2Condensed, $line-height-compact); // 20px
  }

  .action-sm {
    @include font-settings(1.125rem, normal, $font-national2Condensed, $line-height-compact); // 18px
  }

  .action-xs {
    @include font-settings(1rem, normal, $font-national2Condensed, $line-height-compact); // 16px
  }

  .action-xxs {
    @include font-settings(0.875rem, normal, $font-national2Condensed, $line-height-compact); // 14px
  }

  // Body
  .body-xl {
    @include font-settings(1.75rem, normal, $font-national2narrow, $line-height-expanded); // 28px
  }

  .body-lg {
    @include font-settings(1.5rem, normal, $font-national2narrow, $line-height-expanded); // 24px
  }

  .body-md {
    @include font-settings(1.25rem, normal, $font-national2narrow, $line-height-expanded); // 20px
  }

  .body-sm {
    @include font-settings(1.125rem, normal, $font-national2narrow, $line-height-expanded); // 18px
  }

  .body-xs {
    @include font-settings(1rem, normal, $font-national2narrow, $line-height-expanded); // 16px
  }

  .body-xxs {
    @include font-settings(0.875rem, normal, $font-national2narrow, $line-height-expanded); // 14px
  }
}
