@use "../abstracts/index" as *;


/** CSS Typography **/
/** 
* heading typography
* [description]
 * Heading 1: 32px
 * Heading 2: 28px
 * Heading 3: 24px
 * Heading 4: 20px
 * Heading 5: 18px
 * Heading 6: 16px
**/

/* Text Styles  */
.mxp-h1,
.mxp-h2,
.mxp-h3,
.mxp-h4,
.mxp-h5,
.mxp-h6,
h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: $font-national2Condensed;
  line-height: normal;
  letter-spacing: 0%;
  font-weight: 500;
  color: var(--gray-scale-dark);
}

.mxp-h1 {
  font-size: 2rem;
}

.mxp-h2 {
  font-size: 1.75rem;
}

.mxp-h3 {
  font-size: 1.5rem;
}

.mxp-h4 {
  font-size: 1.25rem;
}

.mxp-h5 {
  font-size: 1.125rem;
}

.mxp-h6 {
  font-size: 1rem;
}


p {
  color: var(--gray-scale-dark);
  line-height: 120%;
  font-size: $main-font-size;
  margin: 0;
  padding: 0;
}


small {
  font-size: 0.75em;
}


a {
  color: var(--main-colors-rojo);
  text-decoration: underline;

  &:hover {
    color: var(--reds-rojo-7);
    text-decoration: underline;
  }
}

a:hover {
  color: var(--main-colors-rojo);
  text-decoration: underline;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* Estilos de fuente *//* Estilos de fuente */


.font-thin {
  font-weight: 100;
}

.font-extralight {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400; /* Normal */
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-black {
  font-weight: 900;
}

//***********
// Fonts
//******

.font-national2condensed {
  font-family: $font-national2Condensed;
}

.font-national2narrow {
  font-family: $font-national2narrow;
}


$font-sizes: (
  14: 0.875rem,  // 14px
  16: 1rem,      // 16px
  18: 1.125rem,  // 18px
  20: 1.25rem,   // 20px
  24: 1.5rem,    // 24px
  28: 1.75rem,   // 28px
  32: 2rem,      // 32px
  36: 2.25rem,   // 36px
  40: 2.5rem,    // 40px
  44: 2.75rem,   // 44px
  48: 3rem       // 48px
);

@for $i from 14 through 48 {
  @if map-has-key($font-sizes, $i) {
    .font-#{$i} {
      font-size: map-get($font-sizes, $i);
    }
  }
}
